import { createConfig, http } from 'wagmi'
import { cronos } from 'wagmi/chains'
import { walletConnect } from 'wagmi/connectors'

export const config = createConfig({
  chains: [cronos],
  connectors: [
    walletConnect({
      projectId: process.env.NEXT_PUBLIC_WC_PROJECT_ID!
    })
  ],
  transports: {
    [cronos.id]: http()
  }
})
